@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@font-face {
	font-family: "Pt Sans";
	src: url("/fonts/PTSans-Regular.ttf"), url("/fonts/PTSans-Bold.ttf"),
		url("/fonts/PTSans-BoldItalic.ttf"), url("/fonts/PTSans-Italic.ttf");
}

@font-face {
	font-family: "Hertine";
	src: url("/fonts/Hertine.woff");
}
